/* General Reset and Setup */
* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #101010;
}

/* Hero Section */
.hero {
  height: 600px;
  width: 100%;
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
}

#logo {
  font-size: 2.3rem;
  color: white;
  text-decoration: none;
}

.custom-toggler.navbar-toggler {
  border: 1px solid #f9004d;
  background-color: #f9004d;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

span {
  color: #f9004d;
}

.navbar-nav {
  flex-direction: column;
  text-align: center;
}

.navbar-toggler {
  display: block;
}

.navbar-collapse {
  display: none;
}

@media (max-width: 768px) {
  .navbar-collapse.show {
    display: block;
  }
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.nav-link:hover {
  color: #f9004d;
  transition: 0.4s;
}

.btn {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
  display: block;
  margin: 10px auto;
}

.btn:hover {
  transform: scale(1.2);
}

.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

h1 {
  color: white;
  margin: 20px 0;
  font-size: 75px;
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}

h4 {
  color: #fcfcfc;
  letter-spacing: 2px;
  font-size: 20px;
}

.newsletter form {
  width: 380px;
  max-width: 100%;
  margin-bottom: 50px;
  margin-left: 60px;
  position: relative;
}

.newsletter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
  outline: none;
  border-radius: 30px;
}

.newsletter form input:last-child {
  position: absolute;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f9004d;
  color: white;
  top: 6px;
  right: 6px;
  border: none;
  box-shadow: 0 0 5px #000, 0 0 15px #858585;
}

/* About Section */
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}

.about img {
  height: auto;
  border-radius: 50%;
  max-width: 100%;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  align-items: center;
  max-width: 95%;
}

@media (max-width: 576px) {
  #about-img {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .about-text {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.about-text h2 {
  color: white;
  font-size: 4rem;
  text-transform: capitalize;
  margin: 30px 0;
}

.about-text h5 {
  color: white;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 45px;
}

button {
  background-color: #f9004d;
  border: 2px solid transparent;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  padding: 13px 30px;
  text-decoration: none;
  transition: 0.4s;
}

button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

/* Service Section */
.service {
  background-color: #101010;
  padding: 10px 0;
  width: 100%;
}

.title h2 {
  color: white;
  font-size: 4rem;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  min-height: 400px;
}

@media (max-width: 576px) {
  .box {
    display: grid;
    grid-template-columns: auto;
  }
}

.card {
  height: auto;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 40px;
  display: block;
  margin: 25px 0;
  color: #f9004d;
}

.card h5 {
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 500;
}

.card p {
  color: #fcfcfc;
  font-size: 1.1em;
  line-height: 23px;
  margin-bottom: 15px;
}

.card .button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 0.85em;
  padding: 9px 22px;
  border-radius: 20px;
  transition: 0.4s;
}

.card .button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

/* Contact Section */
.contact-me {
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.contact-me .button-two {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}

.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

/* Footer */
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #f9004d;
  font-size: 1.7em;
}

footer p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.social {
  display: flex;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social a:hover {
  transform: scale(1.3);
  transition: .3s;
}

.end {
  position: absolute;
  color: #f9004d;
  bottom: 35px;
  font-size: 14px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  body {
    background-color: lightblue;
  }

  .service .box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-text h2 {
    font-size: 2rem;
  }

  .about-text h5 {
    font-size: 1rem;
  }
}
